@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 100%;
}

:root{
  --trends_black: #16181C;
  --trends_hover_black: #1D1F23;
  --light_blue: #1D9BF0;
  --light_hover: #1A8CD8;
  --text_fade: #71767B;
  --icon_hover_blue: #0A171F;
  --icon_hover_green: #071A14;
  --icon_green: #00BA7C;
  --icon_hover_red: #200914;
  --icon_red: #F91880;
  --border_color: #71767b6c;
}

svg{
  width: 1.7rem;
  fill: white;
}

#three_dots{
  width: 1.4rem;
}