@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 100%;
}

:root{
  --trends_black: #16181C;
  --trends_hover_black: #1D1F23;
  --light_blue: #1D9BF0;
  --light_hover: #1A8CD8;
  --text_fade: #71767B;
  --icon_hover_blue: #0A171F;
  --icon_hover_green: #071A14;
  --icon_green: #00BA7C;
  --icon_hover_red: #200914;
  --icon_red: #F91880;
  --border_color: #71767b6c;
}

svg{
  width: 1.7rem;
  fill: white;
  color: rgba(202, 202, 202, 0.779);
}

@media (max-width: 450px){
  svg{
    width: 1.2rem;
  }
}

#three_dots{
  width: 1.1rem;
}

#world_icon{
  width: 1.1rem;
  fill: #1D9BF0;
  
}

#audience_world_icon{
  width: 1.3rem;
}

#check_icon{
  width: 1.3rem;
  fill: var(--light_blue);
}

#image_icon, #gif_icon, #poll_icon, #emoji_icon, #calendar_icon{
  width: 2.3rem;
  fill: #1D9BF0;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  transition: background 0.3s ease;
}

#image_icon:hover, #gif_icon:hover, #poll_icon:hover, #emoji_icon:hover, #calendar_icon:hover{
  background: var(--icon_hover_blue);
}

#location_icon{
  width: 2.3rem;
  fill: #1d9cf07e;
  padding: 8px;
  background-blend-mode:color-dodge;
}

#plus_icon{
  width: 1.1rem;
  fill: var(--light_blue);
  
}

#twitter_blue_icon{
  min-width: 1.6rem;
}

.comment_wrapper, .retweet_wrapper, .like_wrapper, .views_wrapper, .share_wrapper{
  display: flex;
  align-items: center;
  color: #71767B;
  font-size: 1rem;
}


.comment_wrapper:hover .comment, .comment_wrapper:hover p{
  fill: var(--light_blue);
  color: var(--light_blue);
  background: var(--icon_hover_blue);
}

.comment{
  fill: #71767B;
  width: 1.3rem;
}

.retweet{
  fill: #71767B;
  width: 1.3rem;
}

.retweet_wrapper:hover .retweet, .retweet_wrapper:hover p, .retweet_wrapper:hover .retweeted{
  fill: var(--icon_green);
  color: var(--icon_green);
  background: var(--icon_hover_green);
}

.like{
  fill: #71767B;
  width: 1.3rem;
}

.like_wrapper:hover .like, .like_wrapper:hover p, .like_wrapper:hover .liked{
  fill: var(--icon_red);
  color: var(--icon_red);
  background: var(--icon_hover_red);
}


.view{
  fill: #71767B;
  width: 1.3rem;
}

.views_wrapper:hover .view, .views_wrapper:hover p{
  fill: var(--light_blue);
  color: var(--light_blue);
  background: var(--icon_hover_blue);
}


.share{
  fill: #71767B;
  width: 1.3rem;
}

.share_wrapper:hover .share, .share_wrapper:hover p{
  fill: var(--light_blue);
  color: var(--light_blue);
  background: var(--icon_hover_blue);
}

.comment,
.retweet,
.like,
.view,
.share{
  padding: 12px;
  border-radius: 50%;
  transition: background 0.3s ease;
  width: 2.8rem;
}

.comment_value,
.retweet_value,
.like_value,
.views_value,
.share_value{
  background: 0 !important;
  user-select: none;
}

.retweet_value.active{
  color: var(--icon_green);
}

.like_value.active{
  color: var(--icon_red);
}


.retweeted{
  fill: var(--icon_green);
  width: 2.8rem;
  padding: 12px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.liked{
  fill: var(--icon_red);
  width: 2.8rem;
  padding: 12px;
  border-radius: 50%;
  transition: background 0.3s ease;
  position: relative;
}


@media (max-width: 1080px){
  #poll_icon {
    display: none;
  }
  #calendar_icon {
    display: none;
  }
}

@media (max-width: 450px){
  .comment_wrapper, .retweet_wrapper, .like_wrapper, .views_wrapper, .share_wrapper{
    font-size: .8rem;
  }

  .comment,
  .retweet,
  .like,
  .view,
  .share{
    padding: 10px;
    width: 2.3rem;
  }

  .retweeted{
    width: 2.3rem;
    padding: 10px;
  }

  .liked{
    width: 2.3rem;
    padding: 10px;
  }

}

@media (max-width: 385px){
  #image_icon,
  #gif_icon,
  #emoji_icon,
  #location_icon{
    width: 1.4rem;
    padding: 2px;
  }
}

@media (max-width: 331px){
      .comment_wrapper, .retweet_wrapper, .like_wrapper, .views_wrapper, .share_wrapper{
    font-size: .8rem;
  }

  .comment,
  .retweet,
  .like,
  .view,
  .share{
    padding: 8px;
    width: 2rem;
  }

  .retweeted{
    width: 2rem;
    padding: 8px;
  }

  .liked{
    width: 2rem;
    padding: 8px;
  }
}

@media (max-width: 311px){
  #image_icon,
  #gif_icon,
  #emoji_icon,
  #location_icon{
    width: 1.3rem;
    padding: 2px;
  }
}